<%- include('../partials/header') %>
    <!-- <table>
        <thead>

            <tr>
                <th>Title</th>
                <th>Blog</th>
            </tr>
        </thead>
        <% blogs.forEach(function(b) { %>
        <form 
          action="/blogs/<%= b.id %>?_method=DELETE" 
          method="POST"
          class="delete-form"
        >
          <button type="submit">X</button>
          <% }); %>
          <tbody>
              <% blogs.forEach(function(b) { %>
                <tr>
                    <td>
                    </td>
                    <td>
                        <%= b.blog %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </form> -->
    
    
    <ul>
        <% blogs.forEach(function(b) { %>
            <li>
                <form 
                action="/blogs/<%= b.id %>?_method=DELETE" 
                method="POST"
                class="delete-form"
                >
                <button type="submit">X</button>
            </form>
            <a href="/blogs/show/<%= b.id %>">
                <%= b.title %>
            </a>
            <%= b.blog %>
          </li>
          <% }); %>
      </ul>
        
    <%- include('../partials/footer') %>