<%- include('../partials/header') %>
    <!-- <table>
        <thead>

            <tr>
                <th>Title</th>
                <th>Blog</th>
            </tr>
        </thead>
        <% blogs.forEach(function(b) { %>
        <form 
          action="/blogs/<%= b.id %>?_method=DELETE" 
          method="POST"
          class="delete-form"
        >
          <button type="submit">X</button>
          <% }); %>
          <tbody>
              <% blogs.forEach(function(b) { %>
                <tr>
                    <td>
                    </td>
                    <td>
                        <%= b.blog %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </form> -->
    
    
    <ul>
        <% blogs.forEach(function(b) { %>
            <li>
                <form 
                action="/blogs/<%= b.id %>?_method=DELETE" 
                method="POST"
                class="delete-form"
                >
                <button type="submit">X</button>
            </form>
            <%= b.title %>
            <%= b.blog %>
            <a href="/blogs/<%= b._id %>">
                full blog
            </a>
            |
                     <a href="/blogs/<%= b.id %>/edit">Edit</a>
          </li>
          <% }); %>
      </ul>
        
    <%- include('../partials/footer') %>